body {
  font-family: "Quicksand", sans-serif;
}

footer {
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
  background-image: url("../Imagen/orilla_playa.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info a i {
  color: rgb(165, 0, 63);
  margin-left: 1rem;
  padding: 0.5rem 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.logoredes {
  color: darkslateblue;
}

.boton {
  background-color: plum;
}

.texto {
  color: black;
  font-weight: 800;
}
